:root {
	background-color: white;
	font-family: "Trebuchet MS", Arial, sans-serif;
}

body {
	align-items: center;
	background-clip: padding-box;
	background-color: aquamarine;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem auto;
	padding: 1rem 2rem;
	width: max-content;
}

textarea {
	resize: none;
}

#title {
	margin: 0 0 1rem 0;
	text-align: center;
}

#pasteBtn {
	align-self: flex-start;
}

#inputText {
}

#inputAndButtons {
	align-items: center;
	display: flex;
	height: 4.5rem;
	justify-content: space-evenly;
	width: 100%;
}

#offsetNum {
	width: 42px;
}

#encodeBtn {
}

#decodeBtn {
}

#outputTxt {
}

#copyBtn {
	align-self: flex-end;
}